<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="predicted">
        {% if predicted %}
        <h2>The Skin Disease is: {{ predicted }}</h2>
        {% endif %}
    
        {% if image %}
        <img  src="data:image/jpeg;base64,{{ image }}" title="Skin Image" width="500">
        {% endif %}
        
        {% if symptoms %}
        <h1>Symptoms:</h1>
        <p>{{ symptoms }}</p>
        {% endif %}
    
        {% if precautions %}
        <h1>Precautions:</h1>
        <p>{{ precautions }}</p>
        {% endif %}

        <!-- Download Report Button -->
        <a href="{{ url_for('download_report') }}" class="download-button">Download Report</a>


    </div>
    
    <div class="disclaimer">
        <p>This is an experimental product. For accurate diagnosis and treatment, please consult a qualified dermatologist or healthcare professional.!!</p>
    </div>
</body>
</html>
